*{
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.body-con{
    width: 100%;
    height: 100vh;
    background-color: rgb(241, 246, 253);
}

.main-logo{
        padding: 40px 0 20px 0;
}

.main-logo > img{
    width: 100px;
}

.login-con{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box{
    width: 500px;
    height: 450px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > .input-box{
        display: flex;
        flex-direction: column;
        gap: 12px;

        & > input{
        width: 330px;
        height: 40px;
        font-size: 18px;
        padding-left: 10px;
        border: 0;
        border-bottom: 2px solid #c7c7c7;
        outline: none;
        }
    }
}

.use-box{
    width: 330px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    gap: 15px;
    background-color: rgb(244, 244, 244);
    margin: 30px 10px 5px 10px;

    & > strong{
        font-weight: 500;
    }
}

.login{
    width: 330px;
    height: 50px;
    background-color: rgb(82, 163, 255);
    border: 0;
    border-radius: 5px;
    transition: .3s;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    font-weight: 500;

    &:hover{
        background-color: rgb(54, 148, 255);
    }
}

.but{
    padding: 40px 0 10px 0;
}

.go-login{
    padding-top: 15px;
    color: #878787;

    & > strong{
        color: #333;
    }
}

.go-login:hover{
    border-bottom: 1px solid #8a8a8a;
}