*{
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

section{

    & > .section-box{
        width: 100%;
        height: 100vh;
        /* background-image: url(../images/찐\ 교실.png); */
        /* background-position-y: -400px; */
        /* background-size: cover; */
        background-color: rgb(197, 136, 56);
        opacity: 0.8;
    }
}

.game-nav-con{
    display: flex;
    padding: 30px;
}

.ch-info{
    width: 88%;
    display: flex;
    align-items: end;
    justify-content: flex-start;
    gap: 5px;
    padding: 10px;

    & > .chName{
        font-weight: 600;
        font-size: 20px;
        color: black;
    }

    & > .levelNum{
        font-size: 14px;
        font-weight: 450;
        color: #636363;
    }
}

.gauge-box{
    width: 300px;
    height: 23px;
    border-radius: 15px;
    background-color: rgb(203, 233, 233);
}

.game-nav-box{
    width: 400px;
    height: 85px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(165, 185, 207);
}

.level-box{
    width: 350px;
    height: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ch-change-con{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.ch-change-box{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid rgb(165, 185, 207);
    background-color: #fff;
    font-size: 37px;
    display: flex;
    justify-content: center;
    transition: .3s;
    cursor: pointer;

    &:hover{
        border: 3px solid rgb(92, 156, 224);
        background-color: aliceblue;
    }
}

.game-main-box{
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.main-ch{
    height: 85%;
    display: flex;
    align-items: end;

    & > img{
        width: 370px;
        animation: A 4s infinite ease-in-out;
        transition: .3s;
        cursor: pointer;

        &:hover{
            width: 380px;
        }
    }
}

.ch-text-box{
    width: fit-content;
    height: fit-content;
    background-color: #fff;
    border-radius: 30px;
    border: 2px solid rgb(165, 185, 207);
    position: absolute;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 10px 20px;
}

.hidden{
    display: none;
}

.foot-text-con{
    width: 100%;
    height: 100vh;
    position: relative;
}


.foot-text-box{
    position: absolute;
    bottom: 100px;
    right: 100px;
    width: 500px;
    height: 100px;
    background-color: #ffffff3b;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    & > input{
        width: 350px;
        height: 45px;
        font-size: 18px;
        padding-left: 10px;
        outline: none;
        border-radius: 10px;
        border: 2px solid rgb(165, 185, 207);
        background-color: #fff;
    }

    & > button{
        width: 80px;
        height: 45px;
        font-size: 18px;
        color: #fff;
        background-color: rgb(34, 122, 216);
        border-radius: 10px;
        border: 0;
    }
}

@keyframes A{
    0%{transform: translateY( 0px);}
    50%{transform: translateY(-5px);}
    100%{transform: translateY( 5px);}
}

.point-book-button{
    width: 120px;
    height: 70px;
    border-radius: 40px;
    border: 3px solid rgb(165, 185, 207);
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    margin: 0 10px;
    transition: .3s;
    cursor: pointer;

    &:hover{
        border: 3px solid rgb(92, 156, 224);
        background-color: aliceblue;
    }
}