*{
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.body-con{
    background-color: #fff;
}

.intro-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 88vh;
    gap: 60px;
    animation: intro 2.5s forwards;
}

.text-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    & > .main-logo > img{
        width: 170px;
    }

    & > p{
        font-size: 22px;
        color: #868686;
        font-weight: 400;
    }
}

.button-box{
    display: flex;
    justify-content: center;
    gap: 45px;

    & > a > button{
        width: 145px;
        height: 48px;
        font-size: 19px;
        font-weight: 500;
        border-radius: 5px;
        transition: .5s;
        cursor: pointer;
    }
}

.A{
    border: 2.5px solid #52A3FF;
    background-color: #fff;
    color: #52A3FF;

    &:hover{
        border: 2.5px solid #52A3FF;
        background-color: #52A3FF;
        color: #fff;
    }
}

.B{
    border: 2.5px solid #52A3FF;
    background-color: #52A3FF;
    color: #fff;

    &:hover{
        border: 2.5px solid #52A3FF;
        background-color: #fff;
        color: #52A3FF;
    }
}

@keyframes intro {
    0%{opacity: 0;}
    100%{opacity: 1;}
}